body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: aquamarine;
}

header {
    background-color: black;
    color: aliceblue;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border-bottom: 6px solid rgb(158, 192, 178);
}

main {
    background-color: aliceblue;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
}

.artigo {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
}

img {
    width: 140px;
    height: 140px;
}

.artigo-autor {
    font-weight: bold;
    color:rgb(150, 196, 176)
}

h2 {
    color:azure
}

.conteudo {
    margin-top: 35px;
}

button {
    margin-top: 15px;
    padding: 10px 18px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:houver {
    background-color:rgb(156, 228, 204);
    color:azure
}

footer {
    background-color: black;
    color:azure;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

@media (max-width: 700px) {
    
    .artigo {
        flex-direction: column;
        text-align: center;
    }

}